
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin-top: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.transactions-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Adjust as needed */
  background-color: rgb(237, 237, 235); /* Change background color */
  border: 2px solid black; /* Add border */
  border-radius: 10px; /* Add border radius */
  overflow: hidden; /* Prevent border from affecting layout */
}

.transaction-listsold,
.transaction-listbought {
  width: 50%; /* Set width to 50% of the container */
  min-width: 400px; /* Set minimum width */
  max-width: 600px; /* Set maximum width */
  height: 600px; /* Set fixed height */
  padding: 30px; /* Adjust padding */
  overflow-y: auto; /* Add scroll option */
  box-sizing: border-box; /* Include padding in width calculation */
}

.transaction-heading {
  margin-top: 0;
}

.transaction-item {
  padding: 20px; /* Increase padding */
  background-color: #f9f9f9;
  border-radius: 12px; /* Increase border radius */
  margin-bottom: 20px; /* Adjust spacing between items */
}

.transaction-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
  font-size: 20px; /* Increase font size */
}

.item-description {
  color: #666;
  font-size: 18px; /* Increase font size */
}

.item-cost,
.item-id {
  font-size: 18px; /* Increase font size */
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
  .transactions-container {
    flex-direction: column;
    align-items: center;
  }

  .transaction-listsold,
  .transaction-listbought {
    width: 100%;
    height: auto; /* Adjust height */
    min-width: auto; /* Remove minimum width */
    max-width: 100%; /* Remove maximum width */
  }

  .transaction-listsold {
    margin-bottom: 20px;
  }
}
